.ldsmusic {
    text-align:center;
    margin-bottom:15px;
}
.ldsmusic a {
	font-family:"HelveticaNeue";
	font-size:.85em;
    color:#0055ff;

    display:inline-block;
    line-height:28px;
    padding:5px 10px 5px 10px;
}
@media screen and (min-width:706px){
    .ldsmusic {
        margin-bottom:40px;
    }
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .ldsmusic a {
        background:#dfedff;
        border-radius: 5px;
    }
}